body{
	margin:0px;
	padding:0;
}

ul{
	list-style:none;
	margin:0px;
	padding:0;	
}

a{
	text-decoration: none;
}

.top-head{
	color:#fff;
	display:flex;
	justify-content:space-around;
	font-size:25px;
	height: 60px;
	align-items: center;
	background-color: #000;
}

.top-head a{
	color:#fff;
}

@media( max-width: 618px ) {
	.top-head{ 
		font-size: 20px;
	}
}

@media(max-width: 470px){
	.phdiv{
		display:none;	
	}
	
	.top-head{ 
		font-size: 17px;
	}
}

.logo-div{
	display:flex;
	height: 120px;
	justify-content:space-between;
	font-size:35px;
	align-items: center;
	background-color: #eee;
	padding: 0px 70px;
}

.logo-img{
	width: 110px;
}

.main-menu{
	background-color:#000;
	text-align: center;
}

.main-menu li{
	display:inline-block;
	position: relative;
}

.main-menu li a{
	color: #fff;
	padding: 20px 50px;
	display: block;
	font-size: 25px;	
}

@media(max-width: 767px) {
	.main-menu li a{
		padding: 13px 30px;
		font-size: 20px;	
	}	
}

@media(max-width: 511px) {
	.main-menu li a{
		padding: 11px 15px;
		font-size: 15px;	
	}	
}

.main-menu li a:hover{
	background-color:#E7AB3C;
}

.active{
	background-color:#E7AB3C;
}

.inner-ul{
	position: absolute ;
	top:100%;
	left: 0;
}

.inner-ul li{
	width:204.16px;
	display: none;
}

.main-menu li:hover .inner-ul li{
	display:block;
	background-color:#000;
}