
.slider-div{
	background:url("../image/s1.jpg");
	width: 100%;
	height:75vh;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/	
}

.main-inner-div{
	display: flex;
	justify-content: space-around;
}

.main-tshirt h2{
	text-align:center;
	/*margin-top: 150px;*/
	/*height:150px;*/
}

.tshirt-div{
	width: 350px;
	/*border: 3px solid #eee;*/
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.24);
	/*box-shadow: 10px 10px 15px #ddd;*/
}

.tshirt-div:hover .buy{
	opacity: 1;
	/*display: block;*/
}

.buy{
	text-align: center;
	font-size: 25px;
	opacity: 0;
	background-color: rgba(44,54,93,0.7);
	/*display: none;*/
}

.inner-tshirt{
	height: 525px;
	width: 350px;
}

.inner-tshirt img{
	width: 100%;
}	

.tshirt-txt{
	padding: 10px;
	text-align: center;
}